@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXT.OTF) format("opentype");
  font-weight: normal; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTBOLD.OTF) format("opentype");
  font-weight: bold; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTBOLDITALIC.OTF) format("opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTITALIC.OTF) format("opentype");
  font-weight: normal;
  font-style: italic; }
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

p {
  font-size: 1em; }

svg text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em; }

header {
  top: 0;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #ccc; }
  header .main-logo {
    height: 2.5em; }
  header .social-icons {
    width: 3em;
    margin-left: 2em; }
    header .social-icons a {
      font-size: 1.3em;
      color: #aaa; }
      header .social-icons a:hover {
        color: orange; }
  header .lang-link {
    color: #424242; }

main {
  font-family: Elektratext, "Open Sans", sans-serif; }

.main-card-container h3.main-title {
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 1em;
  text-transform: uppercase;
  background-color: white; }
.main-card-container h3 {
  font-weight: normal;
  margin: 0 0 0.5em;
  font-size: 1.4em;
  text-transform: uppercase; }
.main-card-container .description {
  margin-top: 0.7em;
  margin-bottom: 2em;
  font-size: 1em; }
.main-card-container p {
  display: inline;
  background-color: white; }

.final-card-container h3.main-title {
  font-weight: normal;
  margin: 0 0 1em;
  text-transform: uppercase; }
.final-card-container h3 {
  font-weight: normal;
  margin: 0 0 0.5em;
  font-size: 1.4em;
  text-transform: uppercase; }
.final-card-container h2.title {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 0.05em; }
.final-card-container .description {
  margin-top: 0.7em;
  margin-bottom: 2em;
  font-size: 1em; }
.final-card-container p {
  display: inline;
  background-color: white; }

.final-card {
  background-color: white;
  padding: 2em;
  width: 27em; }

.card-placeholder {
  border: 1px solid black; }

.left-wrapper {
  width: 40em;
  max-width: 100%; }

.img-placeholder {
  border: 1px solid #aaa;
  height: 30em;
  width: 40em;
  max-width: 100%;
  max-height: 90vw;
  margin-bottom: 0.5em;
  padding: 2em; }
  .img-placeholder img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.locator-map {
  position: relative;
  width: 100%; }
  .locator-map img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.answers {
  display: grid;
  grid-template-rows: minmax(4em, max-content) minmax(4em, max-content);
  grid-template-columns: 50fr 50fr;
  grid-gap: 1em;
  margin-bottom: 0.5em; }

.answers button {
  color: black;
  width: 100%;
  text-transform: uppercase;
  white-space: normal;
  padding: 0.2em;
  box-shadow: none !important; }
  .answers button.ans-wrong {
    background-color: #9101b7;
    opacity: 1 !important;
    color: white; }
  .answers button.ans-correct {
    background-color: #7bfd43;
    opacity: 1 !important;
    color: black; }

.btn-info {
  text-transform: uppercase;
  color: black;
  border-color: black;
  background-color: white;
  margin-top: 2.5em; }
  .btn-info.disabled, .btn-info:disabled {
    color: #3d3d3d; }
  .btn-info:hover {
    background-color: black;
    border-color: black;
    color: white; }

.question-counter {
  font-size: 1.1em;
  color: #aaa; }
  .question-counter .active {
    color: #7bfd43; }

@media (max-width: 767px) {
  .btn-info {
    margin-top: 0 !important; }

  .left-wrapper {
    min-height: unset !important; } }
.final-card .social-icons {
  width: 2.6em;
  font-size: 2.5em; }
  .final-card .social-icons a {
    color: black; }
.final-card #btn-replay {
  margin-top: 1em;
  font-size: 1rem;
  color: black; }

body {
  color: #1f1f1f; }
  body svg text {
    fill: #1f1f1f; }
  body.wrong {
    background-color: black;
    filter: invert(100%); }

.main-text {
  font-family: "Open Sans", sans-serif; }
  .main-text h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 3em; }
  .main-text p.author {
    font-size: .9em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8em; }

.btn-down i {
  color: black;
  font-size: 3em; }
.btn-down h2 {
  font-size: 2em;
  letter-spacing: 0.15em;
  color: #7bfd43;
  margin-bottom: 0;
  background-color: white; }
.btn-down:hover {
  text-decoration: none; }
  .btn-down:hover h2 {
    color: black; }

.start {
  margin-bottom: auto;
  visibility: hidden; }

.end {
  margin-top: auto; }

h3.main-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0.5em; }

.description p {
  font-size: 1.4em;
  margin-bottom: 1.5em; }

.authors {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 1.5em; }

.btn-play {
  color: #000;
  background-color: #7bfd43;
  border-color: #7bfd43;
  padding-left: 3em;
  padding-right: 3em; }

.first-screen {
  position: relative;
  background-size: cover;
  background-image: url("../image/game_start.png");
  background-position: center;
  background-position-y: 39%;
  background-repeat: no-repeat; }

.result-screen {
  background-size: cover;
  background-image: url("../image/all_areas.png");
  background-position: center;
  background-position-y: 39%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2); }

h4 {
  font-weight: 300; }

a.dotted {
  border-bottom: 1px dotted; }
  a.dotted:hover {
    text-decoration: none; }

.footer .share-btn {
  color: #bdbdbd; }
  .footer .share-btn i {
    margin: 25px 25px 25px 25px;
    cursor: pointer;
    width: 1.85em;
    height: 1.85em;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 2.5em; }
  .footer .share-btn:hover {
    color: #1f1f1f; }
    .footer .share-btn:hover i {
      border-color: #1f1f1f; }

.infobox {
  position: absolute;
  top: 25px;
  left: 0px;
  max-width: 250px;
  font-size: 1.1em; }

h3 {
  font-weight: 800;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em; }

p {
  font-size: 1.2em;
  font-weight: 300; }

@media (max-width: 767px) {
  p {
    font-size: 1.3em;
    font-weight: 300; }

  h3 {
    font-size: 2em; } }
.logo {
  max-width: 100%; }

.mobile {
  display: none; }
  @media (max-width: 700px) {
    .mobile {
      display: block; } }

.desktop {
  display: block; }
  @media (max-width: 700px) {
    .desktop {
      display: none; } }

header {
  position: relative; }

.dm-switch {
  background-color: white;
  position: absolute;
  margin-bottom: 100%;
  right: 0;
  padding: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  border: 1px solid black; }
  .dm-switch p {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 110%;
    font-size: 1em;
    background: white;
    width: 8em;
    display: none; }
  .dm-switch:hover {
    opacity: 1; }
    .dm-switch:hover p {
      display: block; }
  .dm-switch.active i {
    color: #7f7f7f; }
  .dm-switch i {
    font-size: 2.5em;
    color: white; }

/*# sourceMappingURL=application.css.map */
