@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXT.OTF) format("opentype");
  font-weight: normal; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTBOLD.OTF) format("opentype");
  font-weight: bold; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTBOLDITALIC.OTF) format("opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTITALIC.OTF) format("opentype");
  font-weight: normal;
  font-style: italic; }
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

p {
  font-size: 1em; }

svg text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em; }

header {
  top: 0;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #ccc; }
  header .main-logo {
    height: 2.5em; }
  header .social-icons {
    width: 3em;
    margin-left: 2em; }
    header .social-icons a {
      font-size: 1.3em;
      color: #aaa; }
      header .social-icons a:hover {
        color: orange; }
  header .lang-link {
    color: #424242; }

main {
  font-family: Elektratext, "Open Sans", sans-serif; }

.main-card-container h3 {
  font-weight: normal;
  margin: 0 0 1em;
  text-transform: uppercase; }
.main-card-container .description {
  margin-top: 0.7em; }

.card-placeholder {
  border: 1px solid black; }

.img-placeholder {
  border: 1px solid #aaa;
  height: 70vh;
  width: 80vh;
  padding: 2em; }
  .img-placeholder img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.locator-map {
  width: 100%; }

.answers button {
  width: 100%;
  text-transform: uppercase;
  margin-top: 1em; }

body {
  color: #1f1f1f; }
  body svg text {
    fill: #1f1f1f; }

.main-title {
  min-height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-title h3 {
    font-size: 2.3em;
    font-weight: 800;
    text-align: center; }

h4 {
  font-weight: 300; }

a.dotted {
  border-bottom: 1px dotted; }
  a.dotted:hover {
    text-decoration: none; }

.footer .share-btn {
  color: #bdbdbd; }
  .footer .share-btn i {
    margin: 25px 25px 25px 25px;
    cursor: pointer;
    width: 1.85em;
    height: 1.85em;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 2.5em; }
  .footer .share-btn:hover {
    color: #1f1f1f; }
    .footer .share-btn:hover i {
      border-color: #1f1f1f; }

.infobox {
  position: absolute;
  top: 25px;
  left: 0px;
  max-width: 250px;
  font-size: 1.1em; }

h3 {
  font-weight: 800;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em; }

p {
  font-size: 1.2em;
  font-weight: 300; }

@media (max-width: 767px) {
  p {
    font-size: 1.3em;
    font-weight: 300; }

  h3 {
    font-size: 2em; } }
.logo {
  max-width: 100%; }

.mobile {
  display: none; }
  @media (max-width: 700px) {
    .mobile {
      display: block; } }

.desktop {
  display: block; }
  @media (max-width: 700px) {
    .desktop {
      display: none; } }

select#chart-select {
  border: 1px solid #777;
  background-color: #e8e8e8;
  cursor: help; }

/*# sourceMappingURL=application.css.map */
