@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXT.OTF) format("opentype");
  font-weight: normal; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTBOLD.OTF) format("opentype");
  font-weight: bold; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTBOLDITALIC.OTF) format("opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTITALIC.OTF) format("opentype");
  font-weight: normal;
  font-style: italic; }
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

p {
  font-size: 1em; }

svg text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em; }

header {
  top: 0;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #ccc; }
  header .main-logo {
    height: 2.5em; }
  header .social-icons {
    width: 3em;
    margin-left: 2em; }
    header .social-icons a {
      font-size: 1.3em;
      color: #aaa; }
      header .social-icons a:hover {
        color: orange; }
  header .lang-link {
    color: #424242; }

main {
  font-family: Elektratext, "Open Sans", sans-serif; }

.main-card-container h3.main-title {
  font-weight: normal;
  margin: 0 0 1em;
  text-transform: uppercase; }
.main-card-container h3 {
  font-weight: normal;
  margin: 0 0 0.5em;
  font-size: 1.4em;
  text-transform: uppercase; }
.main-card-container .description {
  margin-top: 0.7em;
  font-size: 1em; }

.card-placeholder {
  border: 1px solid black; }

.left-wrapper {
  width: 40em;
  max-width: 100%;
  min-height: 8em; }

.img-placeholder {
  border: 1px solid #aaa;
  height: 30em;
  width: 40em;
  max-width: 100%;
  max-height: 90vw;
  margin-bottom: 0.5em;
  padding: 2em; }
  .img-placeholder img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.locator-map {
  position: relative;
  width: 100%;
  max-width: 250px; }
  .locator-map img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.answers {
  display: grid;
  grid-template-rows: minmax(4em, max-content) minmax(4em, max-content);
  grid-template-columns: 50fr 50fr;
  grid-gap: 1em;
  margin-bottom: 0.5em; }

.answers button {
  color: black;
  width: 100%;
  text-transform: uppercase;
  white-space: normal;
  padding: 0; }
  .answers button.ans-wrong {
    background-color: #010101;
    opacity: 1 !important;
    color: white; }
  .answers button.ans-correct {
    background-color: #7bfd43;
    opacity: 1 !important;
    color: black; }

.btn-info {
  text-transform: uppercase;
  color: black;
  border-color: black;
  background-color: white;
  margin-top: 2.5em; }
  .btn-info.disabled, .btn-info:disabled {
    color: #3d3d3d; }

.question-counter {
  font-size: 1.1em;
  color: #aaa; }
  .question-counter .active {
    color: #7bfd43; }

@media (max-width: 767px) {
  .btn-info {
    margin-top: 0 !important; }

  .left-wrapper {
    min-height: unset !important; } }
body {
  color: #1f1f1f; }
  body svg text {
    fill: #1f1f1f; }

h3.main-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0.5em; }

.description p {
  font-size: 1.4em;
  margin-bottom: 1.5em; }

.authors {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 1.5em; }

.btn-play {
  color: #000;
  background-color: #24FD59;
  border-color: #24FD59;
  padding-left: 3em;
  padding-right: 3em; }

.cover-side {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .cover-side.left-side {
    background-image: url("../image/left_pic.png"); }
  .cover-side.right-side {
    background-image: url("../image/right_pic.png"); }

h4 {
  font-weight: 300; }

a.dotted {
  border-bottom: 1px dotted; }
  a.dotted:hover {
    text-decoration: none; }

.footer .share-btn {
  color: #bdbdbd; }
  .footer .share-btn i {
    margin: 25px 25px 25px 25px;
    cursor: pointer;
    width: 1.85em;
    height: 1.85em;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 2.5em; }
  .footer .share-btn:hover {
    color: #1f1f1f; }
    .footer .share-btn:hover i {
      border-color: #1f1f1f; }

.infobox {
  position: absolute;
  top: 25px;
  left: 0px;
  max-width: 250px;
  font-size: 1.1em; }

h3 {
  font-weight: 800;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em; }

p {
  font-size: 1.2em;
  font-weight: 300; }

@media (max-width: 767px) {
  p {
    font-size: 1.3em;
    font-weight: 300; }

  h3 {
    font-size: 2em; } }
.logo {
  max-width: 100%; }

.mobile {
  display: none; }
  @media (max-width: 700px) {
    .mobile {
      display: block; } }

.desktop {
  display: block; }
  @media (max-width: 700px) {
    .desktop {
      display: none; } }

/*# sourceMappingURL=application.css.map */
