
@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXT.OTF) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTBOLD.OTF) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTBOLDITALIC.OTF) format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Elektratext";
  src: url(../fonts/elektratext/ELEKTRATEXTITALIC.OTF) format("opentype");
  font-weight: normal;
  font-style: italic;
}