#main_map {
  //background-color: #dbdbdb;

}

#drag_container {
  position: relative;

  //overflow-y: visible;
  //overflow-x: hidden;
}

.pick-up-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;

  overflow: hidden;
}

.pick-item {
  margin: 10px;

  &.empty {
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

}


.draggable {
  cursor: pointer;
  color: #F3A587;

  &.active {
    position: absolute;
  }

  &.placed {
    position: absolute;

    filter:
            /* for demonstration purposes; originals not entirely black */
            //contrast(1000%)
              /* black to white */
            invert(100%)
              /* white to off-white */
            sepia(100%)
              /* off-white to yellow */
            saturate(400)
              //saturate(1000000%)
              /* do whatever you want with yellow */

            hue-rotate(-64deg);
  }
}


svg {
  polygon {
    fill: none;
    stroke: none;

    &.active {
      stroke: none;
      //stroke-width: 1;
      fill: #ff9900;
      fill-opacity: 0.2;
    }
  }
}

.stopwatch {
  font-family: DSEG, Verdana, sans-serif;
  font-size: 2em;

  color: #ff9900;
}