main {
  font-family: Elektratext, "Open Sans", sans-serif;

}


.main-card-container {

  h3.main-title {
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 1em;
    text-transform: uppercase;
    background-color: white;
  }

  h3 {
    font-weight: normal;
    margin: 0 0 0.5em;
    font-size: 1.4em;
    text-transform: uppercase;
  }

  .description {
    margin-top: 0.7em;
    margin-bottom: 2em;
    font-size: 1em;
  }

  p {
    display: inline;
    background-color: white;
  }
}

.final-card-container {
  h3.main-title {
    font-weight: normal;
    margin: 0 0 1em;
    text-transform: uppercase;
  }

  h3 {
    font-weight: normal;
    margin: 0 0 0.5em;
    font-size: 1.4em;
    text-transform: uppercase;
  }

  h2.title {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  .description {
    margin-top: 0.7em;
    margin-bottom: 2em;
    font-size: 1em;
  }

  p {
    display: inline;
    background-color: white;
  }


}

.final-card {
  background-color: white;
  padding: 2em;
  width: 27em;
}

.card-placeholder {
  border: 1px solid black;
}

.left-wrapper {
  width: 40em;
  max-width: 100%;
}

.img-placeholder {
  border: 1px solid #aaa;

  height: 30em;
  width: 40em;

  max-width: 100%;
  max-height: 90vw;
  margin-bottom: 0.5em;

  padding: 2em;

  img {
    height: 100%;
    width: 100%;

    object-fit: contain;
  }
}

.locator-map {
  position: relative;
  width: 100%;
  //max-width: 250px;
  //max-height: 10em;

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.answers {
  display: grid;
  grid-template-rows: minmax(4em, max-content) minmax(4em, max-content);
  grid-template-columns: 50fr 50fr;
  grid-gap: 1em;
  margin-bottom: 0.5em;
}

.answers button {
  color: black;
  width: 100%;
  text-transform: uppercase;
  white-space: normal;
  padding: 0.2em;

  &.ans-wrong {
    background-color: #010101;
    opacity: 1 !important;
    color: white;
  }

  &.ans-correct {
    background-color: #7bfd43;
    opacity: 1 !important;
    color: black;
  }
}

.btn-info {
  text-transform: uppercase;
  color: black;
  border-color: black;
  background-color: white;
  margin-top: 2.5em;

  &.disabled, &:disabled {
    color: #3d3d3d;
  }

}

.question-counter {
  font-size: 1.1em;
  color: #aaa;

  .active {
    color: #7bfd43;
  }
}

@media #{$brk-spnarrow} {
  .btn-info {
    margin-top: 0 !important;
  }

  .left-wrapper {
    min-height: unset !important;
  }

}

.final-card {
  .social-icons {
    width: 2.6em;
    font-size: 2.5em;

    a {
      color: black;
    }
  }

  #btn-replay {
    margin-top: 1em;
    font-size: 1rem;
    color: black;
  }
}
