@import "fonts";
@import "base/variables";
@import "base/mixins";
@import "base/base";

@import "components/header";
@import "game";

body {
  color: $main-text;
  svg text { fill: $main-text };

  &.wrong {
    background-color: black;
    filter: invert(100%);
  }
}

.main-text {
  font-family: "Open Sans", sans-serif;

  h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 3em;
  }

  p.author {
    font-size: .9em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5em;
  }
}



.btn-down {
  i {
    color: black;
    font-size: 3em;
  }

  h2 {
    font-size: 1.4em;
    color: $main-green;
    font-weight: bold;
    margin-bottom: 0;
    background-color: white;
  }

  &:hover {
    text-decoration: none;

    h2 {color: black}
  }
}


.start {
  margin-bottom: auto;
  visibility: hidden;
}

.end {
  margin-top: auto;
}

h3.main-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0.5em;
}


.description p {
  font-size: 1.4em;
  margin-bottom: 1.5em;
}

.authors {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.btn-play {
  color: #000;
  background-color: $main-green;
  border-color: $main-green;
  padding-left: 3em;
  padding-right: 3em;
}

.first-screen {
  position: relative;

  background-size: cover;
  background-image: url("../image/game_start.png");
  background-position: center;
  background-position-y: 39%;
  background-repeat: no-repeat;
}

.result-screen {
  background-size: cover;
  background-image: url("../image/all_areas.png");
  background-position: center;
  background-position-y: 39%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.2);
}


h4 {
  font-weight: 300;
}


a.dotted {
  border-bottom: 1px dotted;

  &:hover {
    text-decoration: none;
  }
}

.footer {
  .share-btn {
    color: #bdbdbd;
    i {
      margin: 25px 25px 25px 25px;
      cursor: pointer;
      width: 1.85em;
      height: 1.85em;
      border: 1px solid #bdbdbd;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      padding: 15px;
      font-size: 2.5em;
    }

    &:hover {
      color: $main-text;
      i {
        border-color: $main-text;
      }
    }
  }
}


.infobox {
  position: absolute;
  top: 25px;
  left: 0px;

  max-width: 250px;
  font-size: 1.1em;
}

h3  {
  font-weight: 800;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}


@media #{$brk-spnarrow} {
  p {
    font-size: 1.3em;
    font-weight: 300;
  }

  h3 {
    font-size: 2em;

  }
}

.logo {
  max-width: 100%;
}


.mobile {
  display: none;

  @media #{$brk-mobile}  {
    display: block;
  }
}

.desktop {
  display: block;

  @media #{$brk-mobile}  {
    display: none;
  }
}


header {
  position: relative;
}

body {
  &.wrong {
    background-color: black;
    filter: invert(100%);
  }
}

.dm-switch {
  background: white;
  background-image: url('../image/speaker.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0px 0px;

  position: absolute;
  margin-bottom: 100%;
  right: 0;
  padding: 5px;

  width: 50px;
  height: 50px;

  cursor: pointer;
  opacity: 0;

  p {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 110%;
    font-size: 1em;
    background: white;
    width: 8em;
    display: none;
  }

  &:hover {
    opacity: 1;

    p {
      display: block;
    }
  }

  border: 1px solid black;

  &.active {
    background-size: 80% 80%;

    i {
      color: #7f7f7f;
    }
  }

  i {
    font-size: 2.5em;
    color: white;
  }

}
