@import "fonts";
@import "base/variables";
@import "base/mixins";
@import "base/base";

@import "components/header";
@import "game";

body {
  color: $main-text;
  svg text { fill: $main-text };
}


h3.main-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0.5em;
}


.description p {
  font-size: 1.4em;
  margin-bottom: 1.5em;
}

.authors {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.btn-play {
  color: #000;
  background-color: #24FD59;
  border-color: #24FD59;
  padding-left: 3em;
  padding-right: 3em;
}
//
//.first-screen {
//  //background-size: cover;
//  background-image: url("../image/game_start.png");
//  background-position: center;
//  background-repeat: no-repeat;
//}

.cover-side {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.left-side {
    background-image: url("../image/left_pic.png");
  }

  &.right-side {
    background-image: url("../image/right_pic.png");
  }

}


h4 {
  font-weight: 300;
}


a.dotted {
  border-bottom: 1px dotted;

  &:hover {
    text-decoration: none;
  }
}

.footer {
  .share-btn {
    color: #bdbdbd;
    i {
      margin: 25px 25px 25px 25px;
      cursor: pointer;
      width: 1.85em;
      height: 1.85em;
      border: 1px solid #bdbdbd;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      padding: 15px;
      font-size: 2.5em;
    }

    &:hover {
      color: $main-text;
      i {
        border-color: $main-text;
      }
    }
  }
}


.infobox {
  position: absolute;
  top: 25px;
  left: 0px;

  max-width: 250px;
  font-size: 1.1em;
}

h3  {
  font-weight: 800;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}


@media #{$brk-spnarrow} {
  p {
    font-size: 1.3em;
    font-weight: 300;
  }

  h3 {
    font-size: 2em;

  }
}

.logo {
  max-width: 100%;
}


.mobile {
  display: none;

  @media #{$brk-mobile}  {
    display: block;
  }
}

.desktop {
  display: block;

  @media #{$brk-mobile}  {
    display: none;
  }
}


